#calculator {
    background-color: #fcfcda;
    display: inline-block;
    border-color: #7f4d4d;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 2px 10px #794545;
}

#result {
    display: block;
    background-color: #ffd9ad;
    width: 120px;
    padding: 10px;
    border-style: solid;
    border-color: #c20000;
    border-width: 1px;
    border-radius: 5px;
}

.calc_number {
    display: inline-block;
    background-color: #e4ccc4;
    width: 20px;
    padding: 10px;
    border: solid 1px #d00000;
    margin-top: 5px;
}

.calc_sign {
    display: inline-block;
    background-color: #86756f;
    width: 20px;
    padding: 10px;
    margin-top: 7px;
    border: solid 1px black;
}

.calc_number:hover,
.calc_sign:hover {
    background-color: coral;
}

.calc_number:active,
.calc_sign {
    transform: translate3d(3px, 3px, 0px);
}

#result_block {
    display: block;
    position: absolute;
    background-color: azure;
    right: 30px;
    width: 300px;
    height: 500px;
    background-color: bisque;
}